[package]
name = "mazerion-ffi"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
mazerion-api = { path = "../api" }
serde_json = "1.0.145"

[lints.clippy]
unwrap_used = "deny"
expect_used = "deny"
panic = "deny"