[package]
name = "mazerion-config"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
mazerion-core = { path = "../core" }
serde = { workspace = true }
toml = { workspace = true }
rust_decimal = { workspace = true }
